* {
  margin: 0;
  padding: 0;
  color: #696969;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

/* nav */
.nav-bar {
  display: flex;
  flex-direction: row;
  background-color: #C4A4A3;
  justify-content: space-between;
  align-items: flex-end;
  height: 20vh;
}

.links {
  display: flex;
  flex-direction: row;
}

.link {
  margin: 25px 30px;
  font-size: 1em;
}

.account {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.username {
  font-size: .5em;
  text-decoration: none;
}

.logo {
  font-size: 2em;
  margin: 1em 1em 1em 0;
}

/* main */
.header {
  font-size: 2.5em;
  margin: 1em .5em;
}

main {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px 0px;
  margin: 0px 20px;
}

/* card */
.card {
  box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.25);
  border: .5px solid #696969;
  height: 58vh;
  width: 95%;
}

.card-image {
  background-size: 100%;
  min-height: 35%;
  background-repeat: no-repeat;
}

.card-one-image {
  background-image: url('./assets/sunflower.jpg');
}

.card-two-image {
  background-image: url('./assets/pink-flowers-field.jpg');
}

.card-three-image {
  background-image: url('./assets/autumn-flowers.jpg');
}

.card-four-image {
  background-image: url('./assets/white-purple-flowers.jpg');
}

.card-five-image {
  background-image: url('./assets/poppies.jpg');
}

.card-six-image {
  background-image: url('./assets/roses.jpg');
}

.card-seven-image {
  background-image: url('./assets/daffodils.jpg');
}

.card-eight-image {
  background-image: url('./assets/lilies.jpg');
}

.card-name {
  margin: 1em 0 0 .75em;
  font-size: 1em;
}

.card-date {
  font-size: .75em;
  margin: 0 1em;
}

.url {
margin: .75em;
height: 7vh;
background-color: #e1e1e1;
}

h6 {
  margin: 0 1em;
  font-size: .75em;
}

.card-name-playlist {
  font-size: 1em;
  margin: 0 0 1em .75em;
}

.card-numbers-attachment {
  margin: 0 .3em;
  font-size: 2em;
}